@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-red: #ff5a5a;
  --color-pink: #ffe6e6;
  --color-blue: #64a2ff;
  --color-blue-grey: #ecf0f3;
  --color-bright-grey: #ececec;
  --color-light-grey: #6b6b6b;
  --color-dark-grey: #434343;
  --color-black: #000000;

  /* Font size */
  --font-large: 26px;
  --font-medium: 20px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-tiny: 12px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius-micro: 5px;
  --size-border-radius-small: 10px;
  --size-border-radius-medium: 20px;
  --size-border-radius-large: 30px;
  --size-border-radius-extra-large: 50px;

  /* Annimation */
  --annimation-duration: 200ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 24px 16px 16px 16px;
  color: var(--color-dark-grey);
  font-family: NanumSquare;
  background-color: var(--color-bright-grey);
  position: relative;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Condition */
  #condition {
    padding: 16px;
    border-radius: var(--size-border-radius-medium);
    background-color: var(--color-white);
  }

  #condition .condition--hamburgerBtn {
    font-size: var(--font-large);
  }

  #condition .condition--question {
    margin: 15px 0;
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
  }

  #condition .condition--username {
    color: var(--color-red);
  }

  #condition .condition__items {
    display: flex;
    justify-content: space-between;
  }

  #condition .condition__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 10px;
    font-size: var(--font-small);
    border-radius: var(--size-border-radius-small);
  }

  #condition .condition__item:nth-child(1) {
    background-color: #ffe5c1;
  }

  #condition .condition__item:nth-child(2) {
    background-color: #ffdfdf;
  }

  #condition .condition__item:nth-child(3) {
    background-color: #ffdfdf;
  }

  #condition .condition__item i {
    color: #ffa320;
    font-size: var(--font-large);
    margin-right: 5px;
  }

  #condition .condition__item .smile {
    color: #ffa320;
  }

  #condition .condition__item .soso {
    color: #ff8d65;
  }

  #condition .condition__item .bad {
    color: #ff8181;
  }

  /* Meal */
  #meal {
    margin-top: 20px;
    padding: 20px;
    padding-top: 50px;
    border-radius: var(--size-border-radius-medium);
    background-color: var(--color-white);
    position: relative;
  }

  #meal .meal__info {
    padding: 15px 5px;
    writing-mode: vertical-rl;
    color: var(--color-white);
    font-weight: var(--weight-bold);
    background-color: var(--color-red);
    border-radius: 0 0 var(--size-border-radius-micro)
      var(--size-border-radius-micro);
    position: absolute;
    top: 0px;
    left: 20px;
  }

  #meal .meal__selected {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #meal .selected__imgBox {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-light-grey);
  }

  #meal .selected__imgBox img {
    height: 100%;
  }

  #meal .selected__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  #meal .selected__info .selected--description {
    font-size: small;
    color: var(--color-red);
    font-weight: var(--weight-bold);
  }

  #meal .selected__info .selected--name {
    width: 150px;
    margin: 10px 0;
    word-break: keep-all;
    font-size: var(--font-large);
  }

  /* Meal Slider */
  #meal .meal__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #meal .meal__slider .leftBtn {
    font-size: 28px;
  }

  #meal .meal__slider .rightBtn {
    font-size: 28px;
  }

  #meal .slider__items {
    display: flex;
    width: 330px;
    min-width: 330px;
    padding: 5px 0;
    overflow: hidden;
  }

  #meal .slider__items .items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 10px;
    margin: 0 10px;
    border-radius: var(--size-border-radius-medium);
    box-shadow: 0 3px 6px var(--color-bright-grey);
    transition: 0.2s;
  }

  #meal .slider__items .items__item .item--imgBox {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-light-grey);
    overflow: hidden;
  }

  #meal .slider__items .items__item .item--imgBox img {
    height: 100%;
  }

  #meal .slider__items .items__item .item--name {
    margin: 0;
    margin-top: 5px;
    text-align: center;
  }

  /* Check Menu, Health Care */
  .checkMenu,
  .healthCare {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: var(--size-border-radius-medium);
    margin-top: 20px;
    background-color: var(--color-white);
    position: relative;
  }

  .checkMenu .checkMenu--icon,
  .healthCare .healthCare--icon {
    font-size: var(--font-large);
    color: var(--color-pink);
    margin-right: 20px;
  }

  .checkMenu .checkMenu--moreBtn,
  .healthCare .healthCare--moreBtn {
    margin-left: auto;
  }

  .checkMenu .checkMenu--moreBtn i,
  .healthCare .healthCare--moreBtn i {
    font-size: var(--font-large);
    color: var(--color-bright-grey);
  }

  /* Review */
  #review {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 16px 16px 0px 16px;
    border-radius: var(--size-border-radius-medium);
    background-color: var(--color-white);
  }

  #review .review--moreBtn {
    margin: -6px 0 -6px auto;
    color: var(--color-light-grey);
  }

  #review .review__items {
    margin: 0;
  }

  #review .review__items .items__item {
    display: flex;
    margin: 16px 0;
  }

  #review .review__items .items__item .review__imgBox {
    min-width: 100px;
    max-width: 100px;
    height: 95px;
    border-radius: var(--size-border-radius-small);
    overflow: hidden;
  }

  #review .review__items .items__item .item__review {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95px;
    padding: 5px 0;
    margin-left: 10px;
  }

  #review .review__items .items__item .review__imgBox .review--img {
    height: 100%;
  }

  #review .review__items .item__review .review--title {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-small);
    margin: 0;
    margin-bottom: 8px;
  }

  #review .review__items .item__review .review__ratingbar {
    font-size: var(--font-micro);
    color: var(--color-red);
    margin-bottom: 5px;
  }

  #review .review__items .item__review .review--content {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light-grey);
    font-size: var(--font-micro);
    margin: 0;
  }

  #review .review__items .review__info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  #review .review__items .review__info .review--affiliation {
    font-size: var(--font-micro);
    margin-top: auto;
  }

  #review .review__items .info__likesComment .likes,
  #review .review__items .info__likesComment .comment {
    color: var(--color-red);
  }

  /* Side dishes */
  #sideDishes {
    padding-top: 16px;
    position: relative;
  }

  #sideDishes .backBtn {
    font-size: var(--font-large);
    color: var(--color-dark-grey);
  }

  #sideDishes .sideDishes__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 30px;
  }

  #sideDishes .sideDishes__items .items__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  #sideDishes .sideDishes__items .items__item .item__imgBox {
    width: 45px;
    height: 45px;
    border: 1px solid var(--color-light-grey);
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-light-grey);
    box-shadow: 0 3px 6px var(--color-light-grey);
  }

  #sideDishes .sideDishes__items .items__item .item__imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #sideDishes .sideDishes__items .items__item .item--name {
    margin-left: 10px;
    font-size: var(--font-micro);
  }

  #sideDishes .sideDishes__imgBox {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -100px;
    right: -70px;
    box-shadow: 0 6px 10px var(--color-light-grey);
  }

  #sideDishes .sideDishes__imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Food information */
  #foodInfo {
    width: 100vw;
    border-radius: var(--size-border-radius-extra-large)
      var(--size-border-radius-extra-large) 0 0;
    margin-top: 10px;
    margin-left: calc(-50vw + 50%);
    padding: 35px 35px 20px 35px;
    background-color: var(--color-white);
  }

  #foodInfo .foodInfo__foodName {
    font-size: var(--font-medium);
    font-weight: 700;
    color: var(--color-black);
  }

  #foodInfo .foodInfo__foodDescription {
    margin: 16px 0 30px 0;
    font-size: var(--font-small);
    color: var(--color-light-grey);
  }

  #foodInfo h2 {
    font-size: var(--font-small);
  }

  #foodInfo .foodInfo__nutrition {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }

  #foodInfo .foodInfo__nutrition .nutrition__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 115px;
    border-radius: 30px;
    background-color: var(--color-pink);
  }

  #foodInfo .foodInfo__nutrition .nutrition__item .item__value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: var(--color-white);
  }

  #foodInfo .foodInfo__nutrition .nutrition__item .item__valueName {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    color: var(--color-red);
    text-align: center;
  }

  #foodInfo
    .foodInfo__nutrition
    .nutrition__item
    .item__valueName
    span:nth-child(1) {
    font-size: var(--font-tiny);
  }

  #foodInfo
    .foodInfo__nutrition
    .nutrition__item
    .item__valueName
    span:nth-child(2) {
    margin-top: 3px;
    font-size: var(--font-micro);
  }

  /* Allergy */
  #allergy {
    width: 100vw;
    margin-top: 10px;
    margin-left: calc(-50vw + 50%);
    padding: 25px 35px 17px 35px;
    background-color: var(--color-white);
  }

  #allergy h1 {
    font-size: var(--font-small);
  }

  #allergy .allergy__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 16px;
  }

  #allergy .allergy__items .allergy__item {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }

  #allergy .allergy__items .allergy__item .item__imgBox {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid var(--color-light-grey);
  }

  #allergy .allergy__items .allergy__item .item__imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #allergy .allergy__items .allergy__item .item--name {
    font-weight: var(--weight-semi-bold);
    margin-left: 16px;
  }

  #allergy .allergy__items .allergy__item .item--type {
    margin-left: auto;
    font-size: var(--font-small);
    color: var(--color-light-grey);
  }

  /* Calendar */
  #calendar {
    display: none;
    width: 100vw;
    height: 100%;
    margin-left: calc(-50vw + 50% - 16px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
  }

  .calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 40px 32px 32px 23px;
    background-color: var(--color-white);
    border-radius: 0 0 var(--size-border-radius-medium)
      var(--size-border-radius-medium);
  }

  #calendar .calendar .calendar__content {
    width: 100%;
    padding: 0 16px;
  }
  #calendar .calendar__closeBtn {
    margin-left: auto;
    font-size: var(--font-large);
    color: var(--color-light-grey);
  }

  #calendar .calendar__content .calendar__changeMonth {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    font-size: var(--font-medium);
  }

  #calendar .calendar__content .calendar__changeMonth button {
    font-size: var(--font-medium);
    color: var(--color-light-grey);
  }

  #calendar .calendar__content .calendar__day {
    display: flex;
    width: 100%;
    font-weight: var(--weight-bold);
    font-size: var(--font-regular);
    margin: 30px 0 16px 0;
  }

  #calendar .calendar__content .calendar__date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  #calendar .calendar__content .calendar__day span:nth-child(7n + 1),
  #calendar .calendar__content .calendar__date > span:nth-child(7n + 1) {
    color: var(--color-red);
  }
  #calendar .calendar__content .calendar__day span:nth-child(7n),
  #calendar .calendar__content .calendar__date > span:nth-child(7n) {
    color: var(--color-blue);
  }

  #calendar .calendar__content .calendar__day span,
  #calendar .calendar__content .calendar__date span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.2%;
  }
  #calendar .calendar__content .calendar__date span {
    height: 40px;
  }

  #calendar .calendar__content .calendar__date > span.notThisMonth {
    color: lightgray;
  }

  #calendar .calendar__content .calendar__date .date--today .today--circle,
  #calendar .calendar__content .calendar__date .date--active {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-blue-grey);
  }
  #calendar .calendar__content .calendar__date .date--active {
    background-color: var(--color-pink);
  }

  #calendar .calendar__content .calendar__select {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    color: var(--color-white);
    font-size: var(--font-regular);
    border-radius: var(--size-border-radius-small);
    background-color: var(--color-red);
  }

  /* checkMenu */
  #checkMenu {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
  }

  #checkMenu .checkMenu__backBtn {
    margin-top: 16px;
    margin-right: auto;
    font-size: var(--font-large);
    color: var(--color-dark-grey);
  }

  #checkMenu #nav {
    display: flex;
    margin-top: 16px;
  }

  #checkMenu #nav div[class^="nav"] {
    width: 33.33%;
    padding: 6px;
    color: var(--color-light-grey);
    text-align: center;
  }

  #checkMenu #nav div[class^="nav"].active {
    color: var(--color-red);
    border-bottom: 1px solid var(--color-red);
    font-weight: var(--weight-bold);
  }

  #checkMenu #selectDay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: var(--font-small);
  }

  #checkMenu #selectDay .selectDay__changeMonth {
    display: flex;
    align-items: center;
  }

  #checkMenu #selectDay .selectDay__changeMonth i {
    margin-left: 5px;
    font-size: var(--font-medium);
  }

  #checkMenu .menus {
    margin: 16px 0 0 0;
  }

  #checkMenu .menus .menus__item {
    display: flex;
    align-items: center;
    height: 65px;
    margin-bottom: 16px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius-small);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }

  #checkMenu .menus .menus__item .item__imgBox {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
  }

  #checkMenu .menus .menus__item .item__info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  #checkMenu .menus .menus__item .item__info .item--name {
    font-weight: var(--weight-bold);
  }

  #checkMenu .menus .menus__item .item__info .item--calorie {
    margin-top: 5px;
    font-size: var(--font-tiny);
    color: var(--color-light-grey);
  }

  #checkMenu .checkRecipe {
    margin: 0 auto;
    font-size: var(--font-tiny);
  }
}
