@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-red: #ff5a5a;
  --color-pink: #ffbebe;
  --color-blue: #64a2ff;
  --color-blue-grey: #ecf0f3;
  --color-bright-grey: #dadada;
  --color-light-grey: #6b6b6b;
  --color-dark-grey: #434343;
  --color-black: #000000;

  /* Font size */
  --font-large: 26px;
  --font-medium: 20px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius-micro: 5px;
  --size-border-radius-small: 10px;
  --size-border-radius-medium: 20px;
  --size-border-radius-large: 30px;

  /* Annimation */
  --annimation-duration: 200ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 24px 16px 16px 16px;
  color: var(--color-dark-grey);
  font-family: NanumSquare;
  background-color: var(--color-bright-grey);
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Condition */
  #condition {
    padding: 16px;
    border-radius: var(--size-border-radius-medium);
    background-color: var(--color-white);
  }

  #condition .condition--hamburgerBtn {
    font-size: var(--font-large);
  }

  #condition .condition--question {
    margin: 15px 0;
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
  }

  #condition .condition--username {
    color: var(--color-red);
  }

  #condition .condition__items {
    display: flex;
    justify-content: space-between;
  }

  #condition .condition__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 10px;
    font-size: var(--font-small);
    border-radius: var(--size-border-radius-small);
  }

  #condition .condition__item:nth-child(1) {
    background-color: #ffe5c1;
  }

  #condition .condition__item:nth-child(2) {
    background-color: #ffdfdf;
  }

  #condition .condition__item:nth-child(3) {
    background-color: #ffdfdf;
  }

  #condition .condition__item i {
    color: #ffa320;
    font-size: var(--font-large);
    margin-right: 5px;
  }

  #condition .condition__item .smile {
    color: #ffa320;
  }

  #condition .condition__item .soso {
    color: #ff8d65;
  }

  #condition .condition__item .bad {
    color: #ff8181;
  }

  /* Meal */
  #meal {
    margin-top: 20px;
    padding: 20px;
    padding-top: 50px;
    border-radius: var(--size-border-radius-medium);
    background-color: var(--color-white);
    position: relative;
  }

  #meal .meal__info {
    padding: 15px 5px;
    writing-mode: vertical-rl;
    color: var(--color-white);
    font-weight: var(--weight-bold);
    background-color: var(--color-red);
    border-radius: 0 0 var(--size-border-radius-micro)
      var(--size-border-radius-micro);
    position: absolute;
    top: 0px;
    left: 20px;
  }

  #meal .meal__selected {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #meal .selected__imgBox {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-light-grey);
  }

  #meal .selected__imgBox img {
    height: 100%;
  }

  #meal .selected__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  #meal .selected__info .selected--description {
    font-size: small;
    color: var(--color-red);
    font-weight: var(--weight-bold);
  }

  #meal .selected__info .selected--name {
    width: 150px;
    margin: 10px 0;
    word-break: keep-all;
    font-size: var(--font-large);
  }

  /* Meal Slider */
  #meal .meal__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #meal .meal__slider .leftBtn {
    font-size: 28px;
  }

  #meal .meal__slider .rightBtn {
    font-size: 28px;
  }

  #meal .slider__items {
    display: flex;
    width: 330px;
    min-width: 330px;
    padding: 5px 0;
    overflow: hidden;
  }

  #meal .slider__items .items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 10px;
    margin: 0 10px;
    border-radius: var(--size-border-radius-medium);
    box-shadow: 0 3px 6px var(--color-bright-grey);
    transition: 0.2s;
  }

  #meal .slider__items .items__item .item--imgBox {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-light-grey);
    overflow: hidden;
  }

  #meal .slider__items .items__item .item--imgBox img {
    height: 100%;
  }

  #meal .slider__items .items__item .item--name {
    margin: 0;
    margin-top: 5px;
    text-align: center;
  }

  /* Check Menu */
  #checkMenu,
  #healthCare {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: var(--size-border-radius-medium);
    margin-top: 20px;
    background-color: var(--color-white);
    position: relative;
  }

  #checkMenu .checkMenu--icon,
  #healthCare .healthCare--icon {
    font-size: var(--font-large);
    color: var(--color-pink);
    margin-right: 20px;
  }

  #checkMenu .cehckMenu--moreBtn,
  #healthCare .healthCare--moreBtn {
    margin-left: auto;
  }

  #checkMenu .cehckMenu--moreBtn i,
  #healthCare .healthCare--moreBtn i {
    font-size: var(--font-large);
    color: var(--color-bright-grey);
  }

  /* Review */
  #review {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 16px 16px 0px 16px;
    border-radius: var(--size-border-radius-medium);
    background-color: var(--color-white);
  }

  #review .review--moreBtn {
    margin: -6px 0 -6px auto;
    color: var(--color-light-grey);
  }

  #review .review__items {
    margin: 0;
  }

  #review .review__items .items__item {
    display: flex;
    margin: 16px 0;
  }

  #review .review__items .items__item .review__imgBox {
    min-width: 100px;
    max-width: 100px;
    height: 95px;
    border-radius: var(--size-border-radius-small);
    overflow: hidden;
  }

  #review .review__items .items__item .item__review {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95px;
    padding: 5px 0;
    margin-left: 10px;
  }

  #review .review__items .items__item .review__imgBox .review--img {
    height: 100%;
  }

  #review .review__items .item__review .review--title {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-small);
    margin: 0;
    margin-bottom: 8px;
  }

  #review .review__items .item__review .review__ratingbar {
    font-size: var(--font-micro);
    color: var(--color-red);
    margin-bottom: 5px;
  }

  #review .review__items .item__review .review--content {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light-grey);
    font-size: var(--font-micro);
    margin: 0;
  }

  #review .review__items .review__info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  #review .review__items .review__info .review--affiliation {
    font-size: var(--font-micro);
    margin-top: auto;
  }

  #review .review__items .info__likesComment .likes,
  #review .review__items .info__likesComment .comment {
    color: var(--color-red);
  }
}
